<header>
  <app-main-header></app-main-header>
</header>
<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="col-12">
      <h4>Validation Rules Group Demo Filter</h4>
      <p>Demo Library for the validation rule filter group</p>
    </div>
  </div>
  <app-main-sub-header></app-main-sub-header>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
      <!-- <b>INPUTS</b> -->
      <code class="card" style="height: 390px">
        <div class="card-body">
          <div>
            <form>
              <div class="form-group">
                <label style="font-weight: bold;" for="exampleFormControlTextarea1">CONFIGURATIONS: Insert Data Element
                  UID after that Focus Out</label>
                <textarea #content (change)="getContent(content)" placeholder="Eg: ['UVWXYZ12345']" class="form-control"
                  id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>
        </div>
      </code>
    </div>
    <div class="col-md-4">
      <!-- <b>VALIDATION RULE FILTER</b> -->
      <div class="card">
        <div class="card-body" style="padding: 5px;">
          <lib-ngx-dhis2-validation-rule-filter [dataSelection]="dataElements" [selectedVRGs]="preSelectedVRGs"
            (update)="onUpdateValidationRule($event, 'UPDATE')" (close)="onUpdateValidationRule($event, 'CLOSE')">
          </lib-ngx-dhis2-validation-rule-filter>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <b>OUTPUT</b> -->
      <code class="card" style="height: 390px; overflow: auto;">
        <div class="card-body">
          <div>
            <div style="font-weight: bold">ACTION: {{ action }}</div>
          </div>
          <!-- <div>
            <code>PAYLOAD: {{ selectedValidationRuleGroup | json }} </code>
    </div> -->
          <div style="background-color: #eee;">
            <ngx-json-viewer class="editor" [json]="selectedValidationRuleGroup"></ngx-json-viewer>
            <!-- <json-editor styl="height: 50%" [options]="editorOptions" (change)="setAce()" [data]="selectedValidationRuleGroup"></json-editor> -->
          </div>
        </div>
      </code>
    </div>
  </div>
</div>

<footer class="footer">
  <app-main-footer></app-main-footer>
</footer>
