<div class="maintenance-header-container">
  <div class="col-md-4 maintenance-header-sub-container">
    <div class="maintenance-header-container-title">
      <span title="INPUT" class="title">
        INPUT</span>
    </div>
  </div>
  <div class="col-md-4 maintenance-header-sub-container">
    <div class="maintenance-header-container-title">
      <span title="VALIDATION RULE GROUP" class="title">
        VALIDATION RULE LIBRARY COMPONENT</span>
    </div>
  </div>
  <div class="col-md-4 maintenance-header-sub-container">
    <div class="maintenance-header-container-title">
      <span title="OUTPUT" class="title">
        OUTPUT EMMITTED</span>
    </div>
  </div>
</div>