<div class="maintenance-header-container">
  <div class="maintenance-header-sub-container">
    <a href="" class="title-link" title="HRIS Maintenance" style="min-width: 175px;">
      <div class="maintenance-header-container-logo">
        <div>
          <i class="material-icons header-logo">
            settings
          </i>
        </div>
      </div>
    </a>
    <div class="maintenance-header-container-title">
      <a href="" class="title-link" title="HRIS Maintenance" class="title">
        ANGULAR LIBRARY: Validation Rule Group Filter</a>
    </div>
  </div>
</div>
